.hire{
  position: fixed;
  top: 40px ;
  right: 300px;
  text-decoration: none;
  color: black;
}

.hire:hover{
  background: linear-gradient( rgba(253, 251, 251, 0) 50%, rgba(216, 206, 206, 0.5) 50%);
  transition: background-size 400ms;
}

.menu {
    position: fixed;
    right: 0px;
  --bar-width: 25px;
  --bar-height: 2px;
  --hamburger-gap: 3px;
  --foreground: #0a0808;
  --background: rgb(21, 1, 1);
  --hamburger-margin: 7px;
  --animation-timing: 0.8s ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
  position: fixed;
  right: 1000px;
  padding-top: 40px;
  --x-width: calc(var(--hamburger-height) *  1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width:500px;
  position: absolute;
  top: var(--hamburger-margin);
  left: var(--hamburger-margin);
  z-index: 2;
  /* cursor: pointer; */
}

.hamburger-menu:has(input:checked) {
  --foreground: rgb(14, 1, 1);
  --background: #d83d3d;
  width: 10px;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  /* border-radius: 9999px; */
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  transition: translate var(--animation-timing);
  translate: 100%;
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: var(--foreground);
  color: var(--background);
  max-width: 200rem;
  min-height: 100vh;
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}

*{
  text-decoration: none;
  list-style: none;
}

.links{
  color: rgb(14, 14, 14);
  font-size: 40px;
  margin-top: 40px;
  text-decoration: none;
  
}

.links:hover{
  background: linear-gradient( rgb(255, 255, 255 , 0) 50%, rgb(255, 255, 255 , 0.5) 50%);
  transition: background-size 400ms;
}



li{
  margin-top: 40px;
}
.sidebar{
  background-color: rgb(121, 172, 121);

}

